<h1>Shopzilla Search Start Page</h1>

<hr/>

<% form_tag(search_bon_marches_path, :method => "post") do %>

  <%= label_tag(:brands_tag, "Brands:") %><br/>
  <%
  brands_select = Hash.new
  @top20brands.each do |item|
    brands_select.store(item.Brand__c, item.Brand__c)
  end
%>
  <%= select_tag :brands, options_for_select(brands_select), :multiple => true, :size => 8 %>
  <hr/>

  <%= label_tag(:favorites_tag, "Favorites:") %><br/>
  <%
  favorites_select = Hash.new
  @top20favorites.each do |item|
    favorites_select.store(item.Store_Name__c, item.Store_Name__c)
  end
%>
  <%= select_tag :favorites, options_for_select(favorites_select), :multiple => true, :size => 8 %>


  <hr></hr>
  <%= label_tag(:interests_tag, "Interests:") %><br/>

  <%
  interests_select = Hash.new
  @top20interests.each do |item|
    interests_select.store(item.Category_Label__c, item.Category_Label__c)
  end
%>
  <%= select_tag :interests, options_for_select(interests_select), :multiple => true, :size => 8 %>
<hr/>
  <%= submit_tag("Search") %>
<% end %>

